
/* FIRST */

.first {
  height: auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.web-simulator {
  height: 83vh;
  width: 45vh;
  display: flex;
  position: absolute;
  background-color: #c30000d8;
}

.mobile-simulator {
  display: none;
}

.banner-img {
  height: 80vh;
  background-size: auto;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url("/../../assets/img/banner-img-2.jpg");
}

/* SECOND  */

.second {
  height: auto;
  color: #012942;
  background-color: rgba(143, 31, 153, 0)
}

.event-card-left {
  height: 400px;
  width: 500px;
  min-width: 15%;
  background-size: cover;
  background-color: #380f91;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url("/../../assets/img/property_hall.png");
}

.event-card-right {
  height: auto;
  min-width: 15%;
  text-align: start;
  color: #380f91;
  background-color: #E0D9C3;
}

.event-card-right-section {
  display: flex;
  margin-top: 10px;
  max-height: 40px;
  min-width: 150px;
  align-items: center;
  justify-content: center;
}

/* THIRD */

.third {
  height: auto;
  color: #012942;
  background-color: rgba(98, 21, 105, 0)
}

/* FOURTH */

.fourth {
  height: auto;
  color: #ffffff;
  background-color: #012942;
}

.search-form-field {

  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  align-items: flex-start;

  height: 80px;
  border: #ffffffbf;
  border-style: solid;
  border-width: 1px;
  text-decoration: #ffffff;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.input-style {
  border: none;
  color: #ffffffbf;
  background-color: transparent;
}

::placeholder {
  color: #ffffffbf;
}

option {
  background-color: #012942;
}

/* FIFTH */

.fifth {
  height: auto;
  color: #012942;
  background-color: rgba(40, 8, 43, 0)
}

/* SIXTH */

.sixth {
  height: auto;
  color: #012942;
  background-color: #F5F5F5
}

#map {
  height: 300px;
  width: auto;
  max-width: 600px;
}

.input-group {
  width: auto;
  max-width: 600px;
  background-color: transparent;
}

/* UTILITIES */

.title {
  font-weight: 700;
  font-size: 25px;
}

.sub-title {
  font-weight: 700;
  font-size: 15px;
}

.small-sub-title {
  font-weight: 100;
  font-size: 12px;
}

.simple-elevated-button {
  color: white;
  font-weight: 500;
  background-color: #012942;
}

.simple-elevated-red-button {
  color: white;
  font-weight: 500;
  min-width: 100px;
  background-color: #C30000;
}

#web {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 980px) {
  #web {
    display: none;
  }

  #mobile {
    display: block;
  }
}

@media screen and (max-width: 610px) {
  .web-simulator {
    visibility: hidden;
  }

  .mobile-simulator {
    height: 83vh;
    width: 100vh;
    display: flex;
    background-color: #c30000d8;
  }

}