body {
  margin-top: 1000px;
}

/* FIRST */

.first {
  height: auto;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.web-simulator {
  height: 83vh;
  width: 45vh;
  display: flex;
  position: absolute;
  background-color: #c30000d8;
}

.mobile-simulator {
  display: none;
}

.banner-img {
  height: 80vh;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url("/assets/img/banner-img2.jpg");
}

/* SECOND  */

.second {
  height: auto;
  color: #012942;
  background-color: rgba(143, 31, 153, 0)
}

.event-card-left {
  height: 400px;
  width: 500px;
  min-width: 15%;
  background-size: cover;
  background-color: #380f91;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url("/assets/img/banner2_salaodeimoveis.png");
}

.event-card-right {
  height: auto;
  min-width: 15%;
  text-align: start;
  color: #380f91;
  background-color: #E0D9C3;
}

.event-card-right-section {
  display: flex;
  margin-top: 10px;
  max-height: 40px;
  min-width: 150px;
  align-items: center;
  justify-content: center;
}

/* THIRD */

.third {
  height: auto;
  color: #012942;
  background-color: rgba(98, 21, 105, 0)
}

/* FOURTH */

.fourth {
  height: auto;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/img/banner-img2.jpg");
}

.search-form-field {

  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  align-items: flex-start;

  height: 80px;
  border: #00479C;
  border-style: solid;
  border-width: 1px;
  text-decoration: #ffffff;
  color: #00479C;
  background-color: transparent;
}

.input-style {
  border: none;
  color: #00479C;
  background-color: transparent;
}

::placeholder {
  color: #ffffffbf;
}

option {
  background-color: white;
}

input[type='number'] {
  appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-select {
  background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
}

select {
  background-image: url("/assets/icons/arrow-down.png")
}

/* FIFTH */

.fifth {
  height: auto;
  color: #012942;
  background-color: rgba(40, 8, 43, 0)
}

/* SIXTH */

.sixth {
  height: auto;
  color: #012942;
  background-color: #F5F5F5
}

#map {
  height: 300px;
  width: auto;
  max-width: 600px;
}

.input-group {
  width: auto;
  max-width: 600px;
  background-color: transparent;
}

/* UTILITIES */

.title {
  font-weight: 700;
  font-size: 25px;
  color: #00479C;
}

.sub-title {
  font-weight: 700;
  font-size: 15px;
}

.small-sub-title {
  font-weight: 100;
  font-size: 12px;
}

.simple-elevated-button {
  color: white;
  font-weight: 500;
  background-color: #012942;
}

.simple-elevated-red-button {
  color: white;
  font-weight: 500;
  min-width: 100px;
  background-color: #C30000;
}

#web {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}

.hr-parceiros {
  visibility: hidden;
}



/* MEDIA QUERY */

@media screen and (max-width: 980px) {
  #web {
    display: none;
  }

  #mobile {
    display: block;
  }

  .grafico-img {
    width: 100%;
    height: 100%;
  }

  .hr-parceiros {
    visibility: visible;
  }
}

@media screen and (max-width: 1294px) {
  #web {
    display: none;
  }

  #mobile {
    display: block;
  }
}

@media screen and (max-width: 610px) {
  .web-simulator {
    visibility: hidden;
  }

  .mobile-simulator {
    height: 83vh;
    width: 100vh;
    display: flex;
    background-color: #c30000d8;
  }

}