<nav class="navbar navbar-expand-lg p-3">
  <div class="container-fluid">
     
     <div class="col-md-6">
       <a class="navbar-brand" href="#">
         <img src="/assets/img/logo_crediall_complete.png" alt="Creadiall" style="height: 20px; width: 130px;">
       </a>
     </div>

     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
       <span class="navbar-toggler-icon"></span>
     </button>     

    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header p-4">
        <img src="/assets/img/logo_crediall_complete.png" alt="Creadiall" style="height: 20px; width: 130px;">
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-evenly flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToEstateHall()" style="cursor: pointer;">Salão de Imóveis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToFindProperty()" style="cursor: pointer;">Encontre um Imóvel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToPartners()" style="cursor: pointer;">Parceiros</a>
          </li>
        </ul>
      </div>
    </div>
 
  </div>
</nav>
