<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo_crediall_complete.png" alt="Creadiall" style="height: 20px; width: 130px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="scrollToFindProperty()" style="color: #00479C; cursor: pointer;">Encontre um Imóvel</a>
          </li>
          
          <li class="nav-item">
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="scrollToEstateHall()" style="color: #00479C; cursor: pointer;">Salão de Imóveis</a>
          </li>
          
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #00479C;"></a>
          </li>
          <li class="nav-item">
            <button class="btn btn-md simulate-button" aria-current="page" (click)="scrollToSimulate()">Simule seu crédito</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
