<div class="d-flex align-items-baseline justify-content-between p-3 w-100">
  <a routerLink="/home/" style="font-size: 25px; color:#012942;">
    <i class="fa fa-arrow-circle-left mb-4" aria-hidden="true"></i>
  </a>  
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo_crediall_complete.png" alt="Creadiall" style="height: 20px; width: 130px;">
  </a>
  <a class="navbar-brand" href="#"></a>
</div>

<div class="first col-md-12 p-4">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-12 pb-3">
     
     <!-- WEB FORM -->

     <form [formGroup]="propertySearchForm" class="web">
       <div class="d-flex flex-row justify-content-center">
        <div class="search-form-field rounded">
          <label class="form-label">Estado</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="state" class="input-style form-control" (change)="stateChanged()">
              <option value="Rio de Janeiro">Rio de Janeiro</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded" style="min-width: 180px; max-width: 250px;">
          <label class="form-label">Cidade</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="city" class="input-style form-control" (change)="cityChanged()">
              <option *ngFor="let col of cities" value="{{col.name}}">{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded" style="min-width: 180px;">
          <label class="form-label">Bairro</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="district" class="input-style form-control" (change)="districtChanged()">
              <option value="">Todos</option>
              <option *ngFor="let col of districts" value="{{col.name}}">{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded" style="min-width: 180px;">
          <label class="form-label">Tipologia</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="typology" class="input-style form-control" (change)="typologyChanged()">
              <option value="" selected>Todas</option>
              <option *ngFor="let col of propertyTypes" value="{{col.id}}" selected>{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded" style="max-width: 180px;">
          <label class="form-label">Valor Máx</label>
          <div class="d-flex flex-row align-items-baseline w-100">
            <p>R$</p>&nbsp;<input formControlName="price" class="input-style form-control">
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded">
          <label class="form-label">Quartos</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="rooms" class="input-style form-control" (change)="roomChanged()">
              <option value="0" selected>0+</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded">
          <label class="form-label">Vagas</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="parking_spot" class="input-style form-control" (change)="parkingSpotChanged()">
              <option value="0" selected>0+</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="search-form-field rounded" style="min-width: 180px;">
          <label class="form-label">Incorporadoras</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="property_developer" class="input-style form-control" (change)="propertyDeveloperChanged()">
              <option value="">Todas</option>
              <option *ngFor="let col of propertyDevelopers" value="{{col.id}}">{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
      </div>
     </form>
     
     <!-- MOBILE FORM -->

     <form [formGroup]="propertySearchForm" class="mobile">
      <div class="d-flex flex-column justify-content-center" style="width: 100%;">
       <div class="d-flex flex-row flex-wrap">
        <div class="search-form-field rounded col-md-4 col-12">
          <label class="form-label">Estado</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="state" class="input-style form-control" (change)="stateChanged()">
              <option value="Rio de Janeiro">Rio de Janeiro</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        <div class="search-form-field rounded col-md-4 col-12">
          <label class="form-label">Cidade</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="city" class="input-style form-control" (change)="cityChanged()">
              <option *ngFor="let col of cities" value="{{col.name}}">{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        <div class="search-form-field rounded col-md-4 col-12">
          <label class="form-label">Bairro</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="district" class="input-style form-control" (change)="districtChanged()">
              <option value="">Todos</option>
              <option *ngFor="let col of districts" value="{{col.name}}">{{col.name}}</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
       </div>
       &nbsp;&nbsp;
       <div class="search-form-field rounded">
         <label class="form-label">Tipologia</label>
         <div class="d-flex flex-row align-items-center w-100">
          <select formControlName="typology" class="input-style form-control" (change)="typologyChanged()">
            <option value="" selected>Todas</option>
            <option *ngFor="let col of propertyTypes" value="{{col.id}}">{{col.name}}</option>
          </select>
           &nbsp;
           <i class="bi bi-chevron-down"></i>
         </div>
       </div>
       &nbsp;&nbsp;
       <div class="d-flex flex-row flex-wrap">
        <div class="search-form-field rounded col-md-4 col-12">
          <label class="form-label">Valor Máx</label>
          <div class="d-flex flex-row align-items-baseline w-100">
            <p>R$</p>&nbsp;<input formControlName="price" class="input-style form-control">
          </div>
        </div>
        <div class="search-form-field rounded col-md-4 col-6">
          <label class="form-label">Quartos</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="rooms" class="input-style form-control" (change)="roomChanged()">
              <option value="0" selected>0+</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
        <div class="search-form-field rounded col-md-4 col-6">
          <label class="form-label">Vagas</label>
          <div class="d-flex flex-row align-items-center w-100">
            <select formControlName="parking_spot" class="input-style form-control" (change)="parkingSpotChanged()">
              <option value="0" selected>0+</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            &nbsp;
            <i class="bi bi-chevron-down"></i>
          </div>
        </div>
       </div>
       &nbsp;&nbsp;
       <div class="search-form-field rounded" style="min-width: 180px;">
         <label class="form-label">Incorporadoras</label>
         <div class="d-flex flex-row align-items-center w-100">
           <select formControlName="property_developer" class="input-style form-control" (change)="propertyDeveloperChanged()">
            <option value="">Todas</option>
            <option *ngFor="let col of propertyDevelopers" value="{{col.id}}">{{col.name}}</option>
           </select>
           &nbsp;
           <i class="bi bi-chevron-down"></i>
         </div>
       </div>
      </div>
     </form>
    </div>
    
    <!-- RESULT -->

    <app-search-result *ngIf="!gettingPropertiesList && propertiesList.length > 0" [propertiesList]="propertiesList"></app-search-result>
    
    <!-- LOADING -->

    <div *ngIf="gettingPropertiesList && propertiesList.length == 0" class="d-flex align-items-center w-100">
      <div class="w-100 p-5 text-center">
        <div class="spinner-border" style="height: 4rem; width: 4rem; color: #012942;"></div>
      </div>
    </div>

    <div *ngIf="!gettingPropertiesList && propertiesList.length == 0" class="d-flex align-items-center w-100">
      <div class="w-100 p-5 text-center">
        <p class="fs-4 fw-semibold text-muted">Nenhum resultado encontrado</p>
      </div>
    </div>

  </div>
</div>

<div class="second col-md-12 p-4">
  <div class="column text-center">
    <p class="title">Salão de Imóveis</p>
    <div class="d-flex felx-column flex-wrap justify-content-center p-4">
      <div class="event-card-left"></div>
      <div class="event-card-right">
        <div class="d-flex flex-column p-4">
          <div class="text-end">
            <a href="#" class="btn p-0">
              <p class="fw-bold">1/2<i class="bi bi-chevron-right"></i></p>
            </a>
          </div>
          <p class="fw-bold fs-4 pb-2">Salão de Imóveis - Rio de Janeiro</p>
          <p class="fw-bold fs-6 pb-5">Texto sobre o evento (criar um resumo sobre o evento).</p>
          <div class="d-flex flex-row pb-4">
            <img src="/assets/icons/Pin.png" style="height: 25px; width: 20px;">
            <p style="line-height: 18px;">
              <span class="fw-bold">
                &nbsp;&nbsp;Via Parque Shopping - Estacionamento
              </span>
              <br>
              <span class="small-sub-title fw-semibold">
                Avenida Ayrton Senna, 3000, Barra da Tijuca, Rio de Janeiro, RJ
              </span>
            </p>
          </div>
          <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center">
            <div class="event-card-right-section">
              <button type="button" class="simple-elevated-red-button btn">
                Saiba mais
              </button>
            </div>
            <div class="event-card-right-section">
              <img src="/assets/icons/calendar.png">
              <p class="fs-6 fw-semibold">&nbsp;&nbsp;31/01 a 02/02</p>
            </div>
            <div class="event-card-right-section">
              <img src="/assets/icons/clock.png">
              <p class="fs-6 fw-semibold">&nbsp;&nbsp;10h às 22h</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sixth col-md-12 p-4">
  <div class="d-flex flex-row flex-wrap text-center">
    <div class="col-md-4 col-12">
      <div class="column p-4">
        <img class="pb-5" src="/assets/img/logo_crediall_complete.png">
        <div class="d-flex flex-row justify-content-center pb-5">
          <a href="https://www.linkedin.com/feed/">
            <img src="/assets/icons/linkdin.png">
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://pt-br.facebook.com/">
            <img src="/assets/icons/facebook.png">
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/">
            <img src="/assets/icons/instagram.png">
          </a>
        </div>
        <p class="sub-title">Tel: (21) 98283-0243</p>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="d-flex justify-content-center">
        <div class="column p-4">
          <div id="map"></div>
          <div class="d-flex flex-row text-start pt-4" style="max-width: 600px;">
            <img src="/assets/icons/adress-pin.png" style="height: 35px; width: 35px;">
            &nbsp;&nbsp;
            <p class="sub-title">Av. José Silva de Azevedo Neto, 200, Bl 2, Sala 403 Barra da Tijuca - Rio de Janeiro / RJ – CEP: 22775-056</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="column text-start p-4">
        <p class="sub-title">ASSINAR</p>
        <p class="sub-title">Receba notícias e atualizações sobre a Crediall por e-mail.</p>
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control border-dark">
            <button class="btn simple-elevated-button" type="button">Assinar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>