<div class="d-flex align-items-baseline justify-content-between p-3 w-100">
  <a routerLink="/home/" style="font-size: 25px; color:#012942;">
    <i class="fa fa-arrow-circle-left mb-4" aria-hidden="true"></i>
  </a>  
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo_crediall_complete.png" alt="Creadiall" style="height: 20px; width: 130px;">
  </a>
  <a class="navbar-brand" href="#"></a>
</div>

<div class="p-3" style="background-color: #01294200;">
   <div class="d-flex flex-row flex-wrap justify-content -start">
    
    <!-- WEB -->

    <div class="web col-md-3 col-12 p-3" >
      <form [formGroup]="simulatorForm" (submit)="validateSimulatorFormFields()">
        <div class="card shadow-sm border-0 p-3">
          <div class="search-form-field p-2">
            <label class="text-uppercase pb-1"><i class="bi bi-currency-dollar"></i>&nbsp;Valor do Imóvel</label>
            <input formControlName="propertyPrice" type="number" class="form-control input-style" placeholder="Insira o valor"
              matInput
              type="text"
              prefix="R$ "
              mask="separator.2"
              [decimalMarker]="','"
              [thousandSeparator]="'.'"
              [dropSpecialCharacters]="true" 
              [ngStyle]="form['propertyPrice'].dirty && form['propertyPrice'].hasError('required') || formError ? {'border-color':'red'} : {'':''}"
             >
          </div>
          <div class="search-form-field p-2">
            <label class="text-uppercase pb-1"><i class="bi bi-currency-dollar"></i>&nbsp;Valor do Financiamento</label>
            <input formControlName="financingPrice" type="number" class="form-control input-style" placeholder="Insira o valor" 
              matInput
              type="text"
              prefix="R$ "
              mask="separator.2"
              [decimalMarker]="','"
              [thousandSeparator]="'.'"
              [dropSpecialCharacters]="true" 
              [ngStyle]="form['financingPrice'].dirty && form['financingPrice'].hasError('required') || formError ? {'border-color':'red'} : {'':''}"
            >
          </div>
          <div class="d-flex col-md-12 align-items-center justify-content-start col-md-6 p-3 w-100" *ngIf="simulatorForm.get('financingPrice')?.value != '' ">
            <label class="text-uppercase pb-1 w-100">Renda Mínima</label>
            <div class="fw-semibold text-end fs-5 w-100"  mask="separator.2" style="color: #0F71F2;">
              {{ (simulatorForm.get('financingPrice')?.value * 0.36).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }} 
            </div>
          </div>
          <div class="search-form-field p-2">
            <label class="text-uppercase pb-1"><i class="bi bi-calendar-event"></i>&nbsp;Data de Nascimento</label>
            <input formControlName="birthDate" type="date" name="birthDate" min="1900-12-12" max="9999-12-12" id="birthDate" class="form-control" [ngStyle]="form['birthDate'].dirty && form['birthDate'].hasError('required') || formError ? {'border-color':'red'} : {'':''}">
          </div>
          <div class="search-form-field p-2 mb-2">
            <label class="text-uppercase pb-1">Meses</label>
            <input formControlName="months" type="range" min="12" max="420" class="form-range" id="customRange1">
            <div class="fw-semibold text-start fs-5 w-100" style="color: #0F71F2;">
              {{simulatorForm.get('months')?.value}}
             </div>
          </div>
          <button type="submit" class="simple-elevated-red-button btn m-2">
            SIMULAR AGORA
          </button>
          <label class="text-start p-2" style="font-size: 13px;">
            Os valores das prestações são aproximados. As opções apresentadas não valem como proposta e representam apenas uma simulação com o intuito de subsidiar sua decisão. Até a contratação da operação, a taxa de juros, prazo e demais condições podem ser alterados sem prévio aviso. As operações de crédito estão sujeitas à análise e aprovação cadastral dos Bancos.
          </label>
        </div>
      </form>
    </div>

     <!-- MOBILE -->

    <div class="mobile col-md-12 col-md-12 p-3">
      <form [formGroup]="simulatorForm" (submit)="validateSimulatorFormFields()">
        <div class="card shadow-sm border-0 p-3">
          <div class="d-flex flex-row align-items-center flex-wrap w-100"> 
            <div class="search-form-field d-flex p-2">
              <label class="text-uppercase pb-1"><i class="bi bi-currency-dollar"></i>&nbsp;Valor do Imóvel</label>
              <input formControlName="propertyPrice" type="number" class="form-control input-style" placeholder="Insira o valor" 
                matInput
                type="text"
                prefix="R$ "
                mask="separator.2"
                [decimalMarker]="','"
                [thousandSeparator]="'.'"
                [dropSpecialCharacters]="true" 
                [ngStyle]="form['propertyPrice'].dirty && form['propertyPrice'].hasError('required') || formError ? {'border-color':'red'} : {'':''}">
            </div>
            <div class="search-form-field d-flex p-2">
              <label class="text-uppercase pb-1"><i class="bi bi-currency-dollar"></i>&nbsp;Valor do Financiamento</label>
              <input formControlName="financingPrice" type="number" class="form-control input-style" placeholder="Insira o valor"           
                matInput
                type="text"
                prefix="R$ "
                mask="separator.2"
                [decimalMarker]="','"
                [thousandSeparator]="'.'"
                [dropSpecialCharacters]="true" 
                [ngStyle]="form['financingPrice'].dirty && form['financingPrice'].hasError('required') || formError ? {'border-color':'red'} : {'':''}">
            </div>
            <div class="search-form-field d-flex p-2">
              <label class="text-uppercase pb-1"><i class="bi bi-calendar-event"></i>&nbsp;Data de Nascimento</label>
              <input formControlName="birthDate" type="date" name="birthDate" min="1900-12-12" max="9999-12-12" id="birthDate" class="form-control" [ngStyle]="form['birthDate'].dirty && form['birthDate'].hasError('required') || formError ? {'border-color':'red'} : {'':''}">
            </div>
            <div class="search-form-field d-flex p-2 mb-2">
              <label class="text-uppercase pb-1">Meses</label>
              <input formControlName="months" type="range" min="12" max="420" class="form-range" id="customRange1">
              <div class="fw-semibold text-start fs-5 w-100" style="color: #0F71F2;">
                 {{simulatorForm.get('months')?.value}}
              </div>
            </div>
            <div class="d-flex col-md-12 align-items-center justify-content-start col-md-6 p-3 w-100" *ngIf="simulatorForm.get('financingPrice')?.value != '' ">
              <label class="text-uppercase pb-1 w-100">Renda Mínima</label>
              <div class="fw-semibold text-end fs-5 w-100" style="color: #0F71F2;">
                {{ (simulatorForm.get('financingPrice')?.value * 0.36).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} 
              </div>
            </div>
            <button class="simple-elevated-red-button btn m-2" type="submit">
              SIMULAR AGORA
            </button>
            <label class="text-start p-2" style="font-size: 13px;">
              Os valores das prestações são aproximados. As opções apresentadas não valem como proposta e representam apenas uma simulação com o intuito de subsidiar sua decisão. Até a contratação da operação, a taxa de juros, prazo e demais condições podem ser alterados sem prévio aviso. As operações de crédito estão sujeitas à análise e aprovação cadastral dos Bancos.
            </label>
          </div>
        </div>
      </form>
    </div>
    <!-- TABLE -->
     <div *ngIf="installments.length > 0" class="col-md-8 col-12 p-3 flex-fill">
       <div class="card shadow-sm border-0 p-3">
         <div class="table-responsive">
           <div class="t-head mb-2">
            <div class="d-flex justify-content-around">
              <th class="col-2 fw-normal text-muted">Banco</th>
              <th class="col-2 fw-normal text-muted">Parcela</th>
              <th class="col-2 fw-normal text-muted">Amortização</th>
              <th class="col-2 fw-normal text-muted">Juros</th>
              <th class="col-2 fw-normal text-muted">Prestação Final</th>
              <th class="col-2 fw-normal text-muted">Saldo Devedor</th>
            </div>
           </div>
           <!-- ROWS -->
           <div *ngFor="let col of installments; let i = index;" class="t-body mb-2">
             <div class="d-flex bg-light">
               <td class="col-2" class="col-2 d-flex align-items-center justify-content-start p-2">
                 <img src="/assets/img/logo_caixa-3.png" style="width: 80px;">
               </td>
               <td class="col-2 d-flex align-items-center justify-content-between" style="height: 80px;">
                {{col.parcela}}
         
              </td>
               <td class="col-2 d-flex align-items-center justify-content-start">
                 {{col.amortizacao}}
               </td>
               <td class="col-2 d-flex align-items-center justify-content-start">
                 {{col.juros}}
               </td>
               <td class="col-2 d-flex align-items-center justify-content-start">
                 {{col.pestacaoFinal}}
               </td>
               <td class="col-2 d-flex align-items-center justify-content-start">
                 {{col.saldoDevedor}}
               </td>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- INITIAL STATE -->
     <div *ngIf="installments.length == 0 && gettingInstallments == false" class="col-md-8 col-12 p-3 flex-fill">
      <div class="d-flex justify-content-center align-items-center card shadow-sm border-0" style="height: 500px;">
        <div class="fs-4 text-uppercase text-center p-3">
          O resultado da simulação será exibido aqui
        </div>
      </div>
     </div>
     <!-- LOADING -->
     <div *ngIf="gettingInstallments == true && installments.length == 0" class="col-md-8 col-12 p-3 flex-fill">
      <div class="d-flex justify-content-center align-items-center card shadow-sm border-0" style="height: 500px;">
        <div class="w-100 p-5 text-center">
          <div class="spinner-border" style="height: 4rem; width: 4rem; color: #012942;"></div>
        </div>
      </div>
     </div>
     
   </div>
</div>