.search-form-field {

    display: flex;
    padding-inline: 10px;
    flex-direction: column;
    align-items: flex-start;
  
    height: 95px;
    min-width: 300px;
    background-color: transparent;
  }
 
  input {
    height: 70px;
  }

  /* input[type='number'] {
    appearance:textfield;
  } */
  
  /* input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  } */

  .simple-elevated-red-button {
    color: white;
    height: 50px;
    font-weight: 500;
    min-width: 100%;
    background-color: #C30000;
  }
  
  .mobile {
    display: none;
  }

  /* MEDIA QUERY */

  @media screen and (max-width: 1500px) {
    .web {
      display: none;
    }
  
    .mobile {
      display: flex;
    }
  }
  
  @media screen and (max-width: 1446px) {
    .search-form-field {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .search-form-field {
      width: 100%;
    }
  }